.upload-container{
    background-color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    border: 2px solid red;
}
.upload-input{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.upload-button{
    background-color: rgb(255, 81, 0);
    color: white;
}

progress[value] {
    width: 100%;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 2px;
}

progress[value]::-webkit-progress-value {
    background-color: #4caf50; /* สีเขียว */
    border-radius: 2px;
}

progress[value]::-moz-progress-bar {
    background-color: #4caf50; /* สีเขียว */
    border-radius: 2px;
}